body {
  font: 1em helvetica;
  color: #3e3e3e;
  font-weight: 300;
  margin: 0;
  width: 100vw;
}

header, main {
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

header {
  margin-top: 5em;
}

header img {
  border-radius: 50%;
  width: 200px;
}

main {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content:space-evenly;
  background-color: #f3f3f3;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  margin: 2em;
}

a {
  text-decoration: none;
  color: #3e3e3e;
}

p {
  text-align: justify;
  margin-bottom: 1.5em;
}

footer {
  text-align: center;
  background-color: #3e3e3e;
  width: 100vw;
  padding: 2em 0;
}

.spotlight {
  width: 400px;
}

.spotlight img {
  width: 100%;
}


.project-tags li,
#header-nav li {
  border-radius: 10px;
  padding: .5em;
  font-size: .7em;
  margin: 1em;
  color: whitesmoke;
  font-weight: bold;
}

.project-tags li:nth-of-type(1) {
  background-color: royalblue;
}

.project-tags li:nth-of-type(2) {
  background-color: orange;
}

.project-tags li:nth-of-type(3) {
  background-color:mediumvioletred;
}

.project-tags li:nth-of-type(4) {
  background-color:teal;
}

#header-nav li {
  background-color: #f3f3f3;
  padding: 1em;
}

#footer-nav a {
  color: whitesmoke;
}

#portfolio-main {
  flex-wrap: wrap;
}